.choose {
  background-color: #0f051d;
  width: 100%;
  height: 100%;
}

.join {
  background-color: #0f051d;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #0f051d;
  width: 100%;
  height: 100%;
}

.home {
  background-image: linear-gradient(0deg, #0f051d 30%, #130749 70%);
  height: 100vh;
  width: 100%;
}

.market {
  background-color: #0f051d;
  width: 100%;
  height: 100%;
}
